@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
             
            </hgroup>
        </div>
    </section>
}

<body>
    <h3> <b>Photo Share</b> - Web-приложение для быстрого обмена фотографиями </h3>
    <p>Для просмотра и добавления фотографий необходимо зарегестрироваться</p>
    <p>
        <img src="/Images/1.jpg" height="70%" width="15%" />
        <img src="/Images/2.jpg" height="70%" width="15%"/>
      
        <img src="/Images/5.jpg" height="70%" width="15%"/>
        <img src="/Images/6.jpg" height="70%" width="15%"/>
        <img src="/Images/7.jpg" height="70%" width="15%"/>
       
        <img src="/Images/9.jpg" height="70%" width="15%"/>
    </p>
</body>



