@model PhotoShare.Domain.User
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/my_scripts.js"></script>
        @{
            ViewBag.Title = "FileUpload";
        }

     
        

       @* <div class="link_group">
            <p><a class="show_popup" rel="photo_win" href="#"><img src="@imgSrc" height="150px"  alt="Photo"/></a></p>
            <a class="show_popup" rel="photo_win2" href="#"><img src="/Images/8.jpg" height="150px" alt="Photo"/></a>
        </div>
    
        <div class="popup photo_win">
            <a class="close" href="#">Close</a>
            <h2>Галерея</h2>
            <div class="img_wrap">
                <p align="center">
                    <img src="@imgSrc" />
                </p>					
            </div>
        </div>
    
        <div class="popup photo_win2">
            <a class="close" href="#">Close</a>
            <h2>Галерея</h2>
            <div class="img_wrap">
                <p align="center">
                    <img src="/Images/test.jpg" />
                </p>					
            </div>
        </div>*@