@using PhotoShare.Models

@Model PhotoShare.Models.User
<html>
<!DOCTYPE html >
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/my_scripts.js"></script>
</head>

    <body>
        @{
            ViewBag.Title = "FileUpload";
        }

       <h2>FileUpload</h2>

       @using (Html.BeginForm("FileUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
       { 
                <label for="file">Upload Image:</label>
                <input type="file" name="file" id="file" style="width: 100%;" />
                <input type="submit" value="Upload" class="submit" />
       }
        

        @{
            var photos = new List<Photo>(); ;
            if (Model.Photos != null)
            {
                if (Model.Photos.Any())
                {
                    photos.AddRange(Model.Photos);
                }
            }
          
            if (Model.Friends != null)
            {
                if (Model.Friends.Any())
                {
                    var friends = Model.Friends;
                    var friendPhotos = new List<Photo>();
                    foreach (var friend in friends)
                    {
                        friendPhotos.AddRange(friend.Photos);
                    }

                }
            }
            if (photos != null)
            {
                if (photos.Any())
                {
                    foreach (var item in photos)
                    {
                        <tr>
                            <td>
                                @Html.Raw("<img style='width:150px; height:200px;' src=\"data:image/jpeg;base64,"
                                          + Convert.ToBase64String(item.Image) + "\" />")
                            </td>
                        </tr>
                    }
                }
            }
        }

        <div class="link_group">
            <p><a class="show_popup" rel="photo_win" href="#"><img src="/Images/7.jpg" height="150px"  alt="Photo"/></a></p>
            <a class="show_popup" rel="photo_win2" href="#"><img src="/Images/8.jpg" height="150px" alt="Photo"/></a>
        </div>
    
        <div class="popup photo_win">
            <a class="close" href="#">Close</a>
            <h2>Галерея</h2>
            <div class="img_wrap">
                <p align="center">
                    <img src="/Images/7.jpg" />
                </p>					
            </div>
        </div>
    
        <div class="popup photo_win2">
            <a class="close" href="#">Close</a>
            <h2>Галерея</h2>
            <div class="img_wrap">
                <p align="center">
                    <img src="/Images/test.jpg" />
                </p>					
            </div>
        </div>
 
    </body>
</html>