@{
    ViewBag.Title = "EditDescription";
}

@Html.Raw("<img class = 'preview' style='max-height: 50vh;max-width: 70vw;' src=\"data:image/jpeg;base64,"
                  + Convert.ToBase64String(Model.Image) + "\" />")


    @using (Html.BeginForm("EditDescription", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            @InputExtensions.TextBox(Html, Model.Description, "", new { PlaceHolder = "Описание"})
        </div>
        <div>
            <input type="submit" value="Изменить описание">
        </div>
     }
